*{
	scroll-behavior: smooth;
}

.home{
	width: 100%;
	min-height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image:url("../image/home.jpeg");
	overflow: hidden;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}

.home-container{
	margin: 50px auto;
}

.icons{
	margin: 5px 15px;
}

.card{
	margin:0 15px;
}

.skills{
	width: 100%;
	margin: 10px;
	position: relative;
}

.skillsbars{
	margin: 10px;
}


.projects{
	background-color: grey;
	position: relative;
}

#aboutSection{
	background:url("../image/about.jpeg") top left no-repeat fixed;
	background-size: cover;
}

.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}

.home-container h2{
	position: relative;
	border-right: 2px solid black;
	overflow: hidden;    
	color: brown;
	margin: 0 auto;
	top:50%;

}
/* Animation */
.anim-typewriter{
	height: 1.25em;
	width:19.5em;
	animation: typing 3.5s steps(37, end), caret .75s step-end infinite;
    font-family: Consolas, Monaco;
    word-break: break-all;
    overflow: hidden;
  }
  @keyframes typing{
	from{width: 0;}
	to{width: 19.5em;}
  }
  @keyframes caret{
	from,to {border-right-color: transparent;}
	50% {border-right-color: currentColor;}
  }